<a href="https://colab.research.google.com/github/abhayku2002/Python-programming-exercises/blob/master/11_20_Python_challenging_programming_exercises_(_in_Python_3_x).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Question 11:**

Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

Example:
```
  Input:  0100,0011,1010,1001

  output: 1010
```

Notes: Assume the data is input by console.

**Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.**

# **Solution:**

In [ ]:
value = []
items= [x for x in input().split(',')]
for p in items:
    intp = int(p, 2)
    if not intp%5:
        value.append(p)

print(','.join(value))

0100,0011,1010,1001
1010

# **Question 12:**

Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

**Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.**

# **Solution:**

In [ ]:
values = []
for i in range(1000, 3001):
    s = str(i)
    if (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
        values.append(s)
print(",".join(values))

1000,1002,1004,1006,1008,1020,1022,1024,1026,1028,1040,1042,1044,1046,1048,1060,1062,1064,1066,1068,1080,1082,1084,1086,1088,1200,1202,1204,1206,1208,1220,1222,1224,1226,1228,1240,1242,1244,1246,1248,1260,1262,1264,1266,1268,1280,1282,1284,1286,1288,1400,1402,1404,1406,1408,1420,1422,1424,1426,1428,1440,1442,1444,1446,1448,1460,1462,1464,1466,1468,1480,1482,1484,1486,1488,1600,1602,1604,1606,1608,1620,1622,1624,1626,1628,1640,1642,1644,1646,1648,1660,1662,1664,1666,1668,1680,1682,1684,1686,1688,1800,1802,1804,1806,1808,1820,1822,1824,1826,1828,1840,1842,1844,1846,1848,1860,1862,1864,1866,1868,1880,1882,1884,1886,1888,2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,3000

# **Question 13:**
Write a program that accepts a sentence and calculate the number of letters and digits.

Suppose the following input is supplied to the program:
```
hello world! 123
```
Then, the output should be:
```
LETTERS 10
DIGITS 3
```
**Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.**

# **Solution:**

In [ ]:
s = input()
d={"DIGITS":0, "LETTERS":0}
for c in s:
    if c.isdigit():
        d["DIGITS"]+=1
    elif c.isalpha():
        d["LETTERS"]+=1
    else:
        pass
print("LETTERS", d["LETTERS"])
print("DIGITS", d["DIGITS"])

hello world! 123
LETTERS 10
DIGITS 3


# **Question 14:**
Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.

Suppose the following input is supplied to the program:
```
Hello world!
```
Then, the output should be:
```
UPPER CASE 1
LOWER CASE 9
```
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

# **Solution:**

In [ ]:
s = input()
d={"UPPER CASE":0, "LOWER CASE":0}
for c in s:
    if c.isupper():
        d["UPPER CASE"]+=1
    elif c.islower():
        d["LOWER CASE"]+=1
    else:
        pass
print("UPPER CASE", d["UPPER CASE"])
print("LOWER CASE", d["LOWER CASE"])

Hello World!
UPPER CASE 2
LOWER CASE 8

# **Question 15:**
Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
```
9
```
Then, the output should be:
```
11106
```
**Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.**

# **Solution:**

In [ ]:
a = input()
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )
print(n1+n2+n3+n4)

9
11106

# **Question 16:**
Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.

Suppose the following input is supplied to the program:
```
1,2,3,4,5,6,7,8,9
```
Then, the output should be:
```
1,3,5,7,9
```
**Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.**

# **Solution:**

In [ ]:
values = input()
numbers = [x for x in values.split(",") if int(x)%2!=0]
print(",".join(numbers))

1,2,3,4,5,6,7,8,9
1,3,5,7,9

# **Question 17:**
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:

D 100

W 200

D means deposit while W means withdrawal.

Suppose the following input is supplied to the program:
```
D 300
D 300
W 200
D 100
```

Then, the output should be:
```
500
```
**Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.**

# **Solution:**

In [ ]:
netAmount = 0
while True:
    s = input()
    if not s:
        break
    values = s.split(" ")
    operation = values[0]
    amount = int(values[1])
    if operation=="D":
        netAmount+=amount
    elif operation=="W":
        netAmount-=amount
    else:
        pass
print(netAmount)

D 300
D 300
W 200
D 100

500

# **Question 18:**
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.

Example:

If the following passwords are given as input to the program:
```
ABd1234@1,a F1#,2w3E*,2We3345
```
Then, the output of the program should be:
```
ABd1234@1
```
**Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.**

# **Solutions:**

In [ ]:
import re
value = []
items=[x for x in input().split(',')]
for p in items:
    if len(p)<6 or len(p)>12:
        continue
    else:
        pass
    if not re.search("[a-z]",p):
        continue
    elif not re.search("[0-9]",p):
        continue
    elif not re.search("[A-Z]",p):
        continue
    elif not re.search("[$#@]",p):
        continue
    elif re.search("\s",p):
        continue
    else:
        pass
    value.append(p)
print(",".join(value))

ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

# **Question 19:**
You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:

1: Sort based on name;

2: Then sort based on age;

3: Then sort by score.

The priority is that name > age > score.
If the following tuples are given as input to the program:
```
Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85
```
Then, the output of the program should be:
```
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]
```
**Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
We use itemgetter to enable multiple sort keys.**

# **Solutions:**

In [ ]:
from operator import itemgetter, attrgetter
l = []
while True:
    s = input()
    if not s:
        break
    l.append(tuple(s.split(",")))
print(sorted(l, key=itemgetter(0,1,2)))

Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85

[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

# **Question 20:**
Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

**Hints:
Consider use yield**

# **Solution:**

In [71]:
def putNumbers(n):
    i = 0
    while i<n:
        j=i
        i=i+1
        if j%7==0:
            yield j
putNumbers(i)
for i in putNumbers(100):
  print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98