# **Question 41:**
With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in next line. 

**Hints:
Use [n1:n2] notation to get a slice from a tuple.**

# **Solution:**

In [ ]:
tp=(1,2,3,4,5,6,7,8,9,10)
tp1=tp[:5]
tp2=tp[5:]
print(tp1)
print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

# **Question 42:**
Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10). 

**Hints: Use "for" to iterate the tuple. Use tuple() to generate a tuple from a list.**

# **Solution:**

In [ ]:
tp=(1,2,3,4,5,6,7,8,9,10)
li=list()
for i in range(0,len(tp)): 
  if tp[i]%2==0:
    li.append(tp[i])
tp2=tuple(li)
print(tp2)

(2, 4, 6, 8, 10)

# **Question 43:**
Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No". 

**Hints:
Use if statement to judge condition.**

# **Solution:**

In [16]:
s=input()
if s=="yes" or s=="YES" or s=="Yes":
    print("Yes")
else:
    print("No")

yes
Yes

# **Question 44:**
Write a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

**Hints:
Use filter() to filter some elements in a list.
Use lambda to define anonymous functions.**

# **Solution:**

In [15]:
li = [1,2,3,4,5,6,7,8,9,10]
evenNumbers = list(filter(lambda x: x%2==0, li))
print(evenNumbers)

[2, 4, 6, 8, 10]

# **Question 45:**
Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

**Hints:
Use map() to generate a list.
Use lambda to define anonymous functions.**

# **Solution:**

In [13]:
li = [1,2,3,4,5,6,7,8,9,10]
squaredNumbers = list(map(lambda x: x**2, li))
print(squaredNumbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## **Question 46:**
Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

**Hints:
Use map() to generate a list.
Use filter() to filter elements of a list.
Use lambda to define anonymous functions.**

# **Solution:**

In [10]:
li = [1,2,3,4,5,6,7,8,9,10]
evenNumbers = list(map(lambda x: x**2, filter(lambda x: x%2==0, li)))
print(evenNumbers)

[4, 16, 36, 64, 100]

# **Question 47:**
Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included).

**Hints:
Use filter() to filter elements of a list.
Use lambda to define anonymous functions.**

# **Solution:**

In [8]:
evenNumbers=[]
evenNumbers = list(filter(lambda x: x%2==0, range(1,21)))
print(evenNumbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# **Question 48:**
Write a program which can map() to make a list whose elements are square of numbers between 1 and 20 (both included).

**Hints: Use map() to generate a list. Use lambda to define anonymous functions.**

# **Solution:**

In [11]:
squareNumbers=[]
squaredNumbers = list(map(lambda x: x**2, range(1,21)))
print(squaredNumbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# **Question 49:**
Define a class named American which has a static method called printNationality.

**Hints: Use @staticmethod decorator to define class static method.**

# **Solution:**

In [ ]:
class American(object):
    @staticmethod
    def printNationality():
        print("America")
anAmerican = American()
anAmerican.printNationality()
American.printNationality()

America
America

# **Question 50:**
Define a class named American and its subclass NewYorker.

**Hints:
Use class Subclass(ParentClass) to define a subclass.**

# **Solution:**

In [25]:
class American(object):
    pass
class NewYorker(American):
    pass

anAmerican = American()
aNewYorker = NewYorker()
print(anAmerican)
print(aNewYorker)

<__main__.American object at 0x7fee3f168b00>
<__main__.NewYorker object at 0x7fee3f1689b0>